<div id="content"  ng-controller="HomeController">
<side-menus>
        <pane side-menu-content>
<div class="bar bar-header bar-dark">
	<button class="button button-icon icon ion-navicon-round" ng-click="openLeft()"></button>
  	<div class="logo"> Gnossem </div> 	
</div>
<div class="item item-divider"></div>
<div class="bar bar-subheader bar-gray">
   <div class="whats_new_btn"> <p><i>What's</i> NEW</p> </div>
      <div class="designer_az_btn"> <p><i>Designer</i> A-Z</p> </div>
</div>
<content has-header="true" has-subheader="true" has-tabs="true" >	
	
<div class="contant_wrapper" >
    	<div class="women" ng-click='goPage(14)'> <a > <img src="img/women.png"/> </a> </div>
        <div class="clear"></div>
        <div class="bags_shoes">
        	<div class="bags" ng-click='goPage(39)'> <a > <img src="img/bags.png" /> </a> </div>
            <div class="shoes" ng-click='goPage(80)'> <a> <img src="img/shoes.png" /> </a> </div>
        </div>
        <div class="clear"></div>
        <div class="accessories_men">
        	<div class="accessories" ng-click='goPage(32)'> <a > <img src="img/accessories.png" /> </a> </div>
            <div class="men" ng-click='goPage(13)'> <a > <img src="img/men.png" /> </a> </div> 
        </div>
        <div class="dresses"> <a > <img src="img/dresses.png" /> </a> </div>
        <div class="rings_scarves">
        	<div class="rings"> <a > <img src="img/rings.png" /> </a> </div>
            <div class="scarves"> <a > <img src="img/scarves.png" /> </a> </div>
        </div>
    </div>
</content>

<div class="tabs tabs-icon-top bar-dark" style="background: #444444">
 <ul class="footer">
	<li>
		<a>
		<img src="img/about_btn.png">
		</a>
	</li>
	<li>
		<a >
		<img src="img/shop_new_btn.png">
		</a>
	</li>
	<li>
		<a >
		<img src="img/shop_premium_btn.png">
		</a>
	</li> 
</ul>
</div>
</pane>
<side-menu side="left">
          <content >
            <div class="menu_bg">
    <div class="menu_inner">
      <ul>
        <a ng-click="openLeft()">
        <li>
          <div class="home_icon"><img src="img/home_icon.png" /></div>
          <div class="home"> HOME </div>
        </li>
        </a>
        <a href="#">
        <li>
          <div class="home_icon"><img src="img/new_icon.png" /></div>
          <div class="home"> New </div>
        </li>
        </a>
        <a href="#">
        <li>
          <div class="home_icon"><img src="img/designer_icon.png" /></div>
          <div class="home"> designer </div>
        </li>
        </a>
        <a ng-click='goPage(14)'>
        <li>
          <div class="home_icon"><img src="img/women_icon.png" /></div>
          <div class="home"> women </div>
        </li>
        </a>
        <a ng-click='goPage(39)'>
        <li>
          <div class="home_icon"><img src="img/bags_icon.png" /></div>
          <div class="home"> bags </div>
        </li>
        </a>
        <a ng-click='goPage(80)'>
        <li>
          <div class="home_icon"><img src="img/shoes_icon.png" /></div>
          <div class="home"> shoes </div>
        </li>
        </a>
        <a ng-click='goPage(32)'>
        <li>
          <div class="home_icon"><img src="img/accessories_icon.png" /></div>
          <div class="home"> Accesories </div>
        </li>
        </a>
        <a ng-click='goPage(13)'>
        <li>
          <div class="home_icon"><img src="img/man_icon.png" /></div>
          <div class="home"> men </div>
        </li>
        </a>
        <a href="#">
        <li>
          <div class="home_icon"><img src="img/designer_icon.png" /></div>
          <div class="home"> style </div>
        </li>
        </a>
        <a href="#">
        <li>
          <div class="home_icon"><img src="img/sale_icon.png" /></div>
          <div class="home"> sale </div>
        </li>
        </a>
        <a href="#">
        <li>
          <div class="home_icon"><img src="img/search_icon.png" /></div>
          <div class="home"> search </div>
        </li>
        </a>
      </ul>
    </div>
  </div>
          </content>
        </side-menu>
</side-menus>
</div>
