<content >	
<p id="width"></p>
<p id="height"></p>
<div class="main_wrapper">
  <div class="login">
    <div class="ionic-logo" style="width: 80%;">
			<img src="img/login_logo.png" />
		</div>
    <div class="registered_successfully"> Thanks For Purchasing ! </div>
    <div class="icons" ng-controller="HomeController">
      <div class="round_tick"> <img src="img/tick_icon.png" /> </div>
      <div class="go_arrow" ng-click="goPage('home')" > <img src="img/go_arrow.png" /> </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
</content>