 <div class="background" >
    	
 		<img src="img/headerlogo.png" style="vertical-align:middle;alignment-adjust: central">
 			<br>
 			<br>
 			<br>
 			<br>
 			<br>
 			<br>
 			<br>
 			<div class="dialnumber">
 				
 				<div class="dialpad">
 					982928292
 						
 				</div>
 				<div class="backicon"></div>
 				
 			</div>
 			
 			<div class="list" style="">
 					<br>	
 					<div class="gradientgrey" >
 						<span class="dialnum">1</span><span class="dialp">ABC</span>
 					</div>
 					<div class="gradientgrey" >
 						<span class="dialnum">2</span><span class="dialp">DEF</span>
 					</div>
 					<div class="gradientgrey" >
 						<span class="dialnum">3</span><span class="dialp">GHI</span>
 					</div>
				
				   <br>
				   <br>	
					<div class="gradientgrey" >
 						<span class="dialnum">4</span><span class="dialp">JKL</span>
 					</div>
 					<div class="gradientgrey" >
 						<span class="dialnum">5</span><span class="dialp">MNO</span>
 					</div>
 					<div class="gradientgrey" >
 						<span class="dialnum">6</span><span class="dialp">PQR</span>
 					</div>
				   <br>
				   <br>	
					<div class="gradientgrey" >
 						<span class="dialnum">7</span><span class="dialp">STU</span>
 					</div>
 					<div class="gradientgrey" >
 						<span class="dialnum">8</span><span class="dialp">VW</span>
 					</div>
 					<div class="gradientgrey" >
 						<span class="dialnum">9</span><span class="dialp">XYZ</span>
 					</div>
				   <br>
				   <br>	
					<div class="gradientgrey" >
 						<span class="dialnum">#</span>
 					</div>
 					<div class="gradientgrey" >
 						<span class="dialnum">0</span>
 					</div>
 					<div class="gradientgrey" >
 						<span class="dialnum">SMS</span>
 					</div>
				   <br>
				 <br>	
					<div class="gradientgreen" >
 						<span class="dialnum">Contacts</span>
 					</div>
 					<div class="gradientgreen" >
 						<span class="dialnum">Send</span>
 					</div>
 					<div class="gradientgreen" >
 						<span class="dialnum">SMS</span>
 					</div>
				   <br>
				
				
 			</div>
 			<div class="bluebottom" >
 				<a href="/#/voip-settings">SETTINGS </a>   |   PROFILE
 				
 			</div>
 		</div>
    