	  <div class="background" >
    	
 		<a href="/#/voip-login" ><img src="img/mainroute-center.png" style="vertical-align:middle"></a>
 		 <content has-header="true">
 		 </content>
 		<div class="bluebottom">
 				
 				
 			Profile and Settings
 						
 			
 			</div>
 			
 		<div class="greybox">
 			
 			
 			
 			<div class="list" style="">
 					
 					
				  <label class="item item-input">
				    <span class="usericon" style="padding-right:10px;"></span>
				    <input type="text">
				  </label>
				  
				  <label class="item item-input">
				    <span class="passicon"></span>
				    <input type="password">
				  </label>
				  <p></p>
				 <a href="/#/voip-dialer"> <button class="button button-positive">
				  SAVE
				</button></a>
				
 			</div>
 		</div>
     </div>
     <div class="bluebottom" >
 				<a href="/#/voip-dialer">DIALER </a>  
 				
 			</div>